* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #617893;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.contenedor {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: space-evenly;*/
}

.contenedor-1 {
    justify-content: flex-end;
    padding-bottom: 2rem;
}

.contenedor-3 {
    width: 35%;
    height: 30%;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    background-color: rgb(139.45, 205.17, 243.05, 0.9);
    border-radius: 0.5rem;
    position: absolute;
    display: none;
}


.boton, a {
    margin-top: 2rem;
    height: 2.5rem;
    width: 10rem;
    border-radius: 0.5rem;
    border-style: none;
    background: #4242ec;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-2 {
    padding-top: 2rem;
}

.contenedor-2 .boton {
	margin-top: 1rem;
}

.adventencia {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
	color: #ffffff;
}

img {
	height: 1rem;
	margin-right: 0.5rem;
	color: tomato;
}

.contenedor-3 img {
    width: 3rem;
    height: 3rem;
}

#input {
    background-color: #9ebcdf;
    width: 80%;
    height: 3rem;
    padding: 0.2rem 0 0.2rem 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    border-style: none;
}

.boton:hover {
    background-color: #0000ff;
}

@media screen and (max-width: 480px) {
    .contenedor {
        width: 100%;
    }

    .contenedor h1 {
        text-align: center;
    }

    #input {
        width: 95%;
    }

    .adventencia {
        width: 80%;
    }

    .adventencia p {
        text-align: center;
    }
}
